<ul class="comments">
<li class="clearfix">
  <div class="post-comments">
    <p class="meta"><%=@publicacion.created_at.day%>/<%=@publicacion.created_at.month%>/<%=@publicacion.created_at. year%> <a href="#"><%= link_to comment.user.nombre, comment.user %></a> dijo:
    <p>
      <%=comment.descripcion%>
    </p>
    <%if !comment.answer.nil?%>
      <h4>Respuesta de <%=comment.publication.user.nombre%>:</h4>
        <p><%=comment.answer.descripcion%></p>
    <%end%>
    <p>
      <%if current_user == @publicacion.user && comment.user != @publicacion.user && comment.answer.nil?%>  <h2>Responder:</h2>
        <%= form_for([comment, comment.build_answer]) do |f| %>
        <p>
          <%= f.label :descripcion %><br>
          <%= f.text_area :descripcion, required: true %>
        </p>
        <p>
        <%= f.submit 'Responder', class: 'btn btn-primary'%>
        </p>
        <% end %>
      <%end%>
      </p>
  </div>
</li>
</ul>
