<%@comentarios.each do |comentario| %>
<ul class="comments">
<li class="clearfix">
  <div class="post-comments">
    <p class="meta"><%=@publicacion.created_at.day%>/<%=@publicacion.created_at.month%>/<%=@publicacion.created_at. year%> <a href="#"><%= link_to comentario.user.nombre, comentario.user %></a> dijo:
    <p>
      <%=comentario.descripcion%>
    </p>
    <%if !comentario.answer.nil?%>
      <h4>Respuesta de <%=comentario.publication.user.nombre%>:</h4>
        <p><%=comentario.answer.descripcion%></p>
    <%end%>
    <p>
      <%if current_user == @publicacion.user && comentario.user != @publicacion.user && comentario.answer.nil?%>  <h2>Responder:</h2>
        <%= form_for([comentario, comentario.build_answer]) do |f| %>
        <p>
          <%= f.label :descripcion %><br>
          <%= f.text_area :descripcion, required: true %>
        </p>
        <p>
        <%= f.submit 'Responder', class: 'btn btn-primary'%>
        </p>
        <% end %>
      <%end%>
      </p>
  </div>
</li>
</ul>
<%end%>