<html lang="en">
  <head> 
    <style type="text/css">
  <!--
  .tab { margin-left: 40px; }
  -->
  </style>
  </head>
<body>
    <div class="container">

      <%= render @publicacion%>
          <div class="container bootstrap snippet">
            <div class="row">
              <div class="col-md-12">
                <div class="blog-comment">
                  <h3 class="text-success">Comentarios</h3>
                          <hr/>
                  <%if @comentarios.blank? %>
                    
                      <font color="red"><h4>No hay comentarios todavía :(</h4></font>
                    
                  <%else%>     
                    <%= render @comentarios%>
                  <%end%>
                  <%if current_user != @publicacion.user && current_user%>
                    <%= link_to "Dejar un comentario", new_comment_path(:publicacion => @publicacion.id), class: 'btn btn-primary' %>
                  <%end%>
                  </div>
                </div>
            </div>
          </div>
          <div class="container bootstrap snippet">
            <div class="row">
              <div class="col-md-12">
                <div class="blog-comment">
                  <h3 class="text-success">Ofrecimientos</h3>
                          <hr/>
                        <%= render @ofrecimientos%>
                </div>
              </div>
            </div>
          <div>      
            <!-- Boton para calificar -->
            <%if !(@ofrecimiento_aceptado.nil?) and (current_user == @publicacion.user) and (@calificacion_calificado.nil?)%> <!-- Compruebo que haya algun ofrecimiento aceptado-->
              <% if @publicacion.user.id == current_user.id  && @ofrecimiento_aceptado.fecha <= Date.today %>
                <p><%= link_to "Calificar", new_qualification_path(:user_ofrecido => @ofrecimiento_aceptado.user_id, :publicacion_id => @publicacion.id), class: "btn btn-primary" %></p>
              <% end %>
            <% end %>
            </div>
          </div>
        <br>
          <a href=" ../" class="btn btn-primary">Volver</a>

        </div>

      </div>
		
    </div>

</body>
</html>