<h1>Perfil de <%= @usuario.nombre %><h1>
	<h4>Nombre: <%= @usuario.nombre %></h4>
	<h4>Apellido: <%= @usuario.apellido %></h4>
	<h4>Logro: <%=@usuario.achievement.nombre %></h4>
	<% if current_user == @usuario %>
		<h4>Puntos del usuario: <%= @usuario.puntos %></h4>
	<% end %>
	<br>
	<div class="panel panel-default"><table class="table">
	<tr>
		<th>Descripción</th>
		<th>Calificación</th>
	</tr>
	<% @usuario.qualifications.each do |calificacionUsuario| %>
		<tr>
			<td><%=calificacionUsuario.descripcion%></td>
			<% if calificacionUsuario.calificacion == true %>
				<td>Positivo</td>
			<% else %>
				<td>Negativo</td>
			<%end%>
		</tr>
	<%end%>
 	</table>
  	</div>
  	<br>
  <% if @usuario == current_user %>
  	<% if !@usuario.publications.empty?%>
	  	<h4>Publicaciones que realizaste:</h4>
	  	<div class="panel panel-default">
		  	<table class="table">
		  	<tr>
				<th>Título</th>
				<th>Ciudad</th>
				<th>Resuelta?</th>
			</tr>
			<% @usuario.publications.each do |publicacion| %>
				<tr>
					<td><%=link_to publicacion.titulo, publicacion%></td>
					<td><%=publicacion.ciudad%></td>
					<%if publicacion.qualification.nil?%>
						<td>No</td>
					<%else%>
						<td>Sí</td>
					<%end%>	
				</tr>
			<%end%>
	  		</table>
		</div>
	<%else%>
		<h4>Aún no realizaste publicaciones</h4>
	<%end%>	
	<br>
	<% if !@usuario.ofrecimientos.empty?%>
	<h4>Publicaciones a las que te ofreciste:</h4>
  	<div class="panel panel-default">
  		<table class="table">
  		<tr>
			<th>Título</th>
			<th>Ciudad</th>
			<th>Resuelta?</th>
		</tr>
		<% @usuario.ofrecimientos.each do |ofrecimiento| %>
			<tr>
				<td><%=link_to ofrecimiento.publication.titulo, ofrecimiento.publication%></td>
				<td><%=ofrecimiento.publication.ciudad%></td>
				<%if ofrecimiento.publication.qualification.nil?%>
					<td>No</td>
				<%else%>
					<td>Sí</td>
				<%end%>	
			</tr>
		<%end%>
  		</table>
	</div>
	<%else%>
	<h4>Aún no te ofreciste a realizar ninguna gauchada</h4>
	<%end%>
	<br>
	<h4>Gauchadas realizadas:</h4>
  	<div class="panel panel-default">
  		<table class="table">
  		<tr>
			<th>Título</th>
			<th>Ciudad</th>
		</tr>
		<% @usuario.ofrecimientos.each do |ofrecimiento| %>
			<tr>
				<%if ofrecimiento.aceptado && !ofrecimiento.publication.qualification.nil? && ofrecimiento.publication.qualification.calificacion%>	
					<td><%=link_to ofrecimiento.publication.titulo, ofrecimiento.publication%></td>
					<td><%=ofrecimiento.publication.ciudad%></td>
				<%end%>
			</tr>
		<%end%>
  		</table>
	</div>
	<%= link_to 'Editar Perfil',  edit_user_registration_path, class: 'btn btn-primary' %>
	<% end %>
	<a href=" ../" class="btn btn-primary">Volver</a>
