<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @user.nombre %></h1>
    <p>
      Se envío un mail al usuario aceptado. Sus datos de contacto son: 
    </p>
    <p> Nombre: <%= @user_aceptado.nombre %> </p>
    <p>	Apellido: <%= @user_aceptado.apellido %> </p>
    <p> Email: <%= @user_aceptado.email %> </p>
    <p> Teléfono: <%=@user_aceptado.telefono %> </p>
  </body>
</html>