<!-- Esta vista muestra el listado de logros -->
<h1 class='titulo_logros'> Lista de Logros </h1>
<br>
<%= link_to "Nuevo Logro", new_achievement_path, class: 'btn btn-primary' %>
<br>
<br>
<div class="col-md-6">
	<table class="table">
		<thead>
			<tr>
				<th> Nombre </th>
				<th> Rango Minimo </th>
				<th> Rango Maximo </th>
			</tr>
		</thead>
		<tbody>
			<% @achievements.ordenar_asc.each do |l| %>
			<tr>	
			  <% if l.id != 0 %>		
				<td> <%= l.nombre %> </td> 
				<td> <%= l.rangoMin %> </td>
				<td> <%= l.rangoMax %> </td>
				<td>							
					<% if l.borrado == false then %>
						<%= link_to "Editar", edit_achievement_path(l), class: 'btn btn-primary' %>							
						<%= link_to "Eliminar", l, method: :delete, class: 'btn btn-primary', data: { confirm: 'Desea eliminar el logro?' } %>	
					<% else %>							
						<% if l.users.empty? %>	
							<%=link_to "Reactivar", reactivar_achievement_path(l), class: 'btn btn-primary', data: { confirm: 'Desea reactivar el logro?' } %>
							<%= link_to "Eliminar", l, method: :delete, class: 'btn btn-primary', data: { confirm: 'Desea eliminar el logro?' } %>	
						<% else %>
							<%=link_to "Reactivar", reactivar_achievement_path(l), class: 'btn btn-primary', data: { confirm: 'Desea reactivar el logro?' } %>
						<% end %>						
					<% end %>						
				</td>
			  <% end %>				
			</tr>			
			<% end %>	
		</tbody>
	</table>
</div>